* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  -webkit-box-shadow: 0 2px 4px #e2ebfc;
          box-shadow: 0 2px 4px #e2ebfc;
  height: 80px;
  background: #f5f9fe;
}

header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__container .logo {
  color: #2a73dd;
  font-weight: bold;
  font-size: 24px;
}

header .header__container nav a {
  text-decoration: none;
  margin: 0 20px;
  color: #1d365e;
}
/*# sourceMappingURL=main.css.map */